{
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "es5",

  "tailwindFunctions": ["twMerge"],
  "tailwindAttributes": [],

  "importOrder": [
    "^@/layout/(.*)$",
    "^@/core/(.*)$",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^@/server/(.*)$",
    "^@/assets/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
